// Colors
// -------------------------
// navigation
$headerBg : #3DAFDB;
$navFont : #2A7A98;
$darkNavBg: #09282B;
$darkNavFont : #53686B;

// index view
$mainBg : #38A1C8;

//links view
$linkViewBg : #19BADC;
$primaryGray : #9F958C;

// side-bar
$sidebarBg : #1594B0;
$sidebarColor : #FFFFFF;
$sidebarTextColor : rgba(#FFF, 0.7);

$contentTextColor: #7B7B7B;
$contentBorderColor: rgba(#000, 0.15);
$borderColor: rgba(#fff, 0.3);

$renewablesColor: #62AEB2;
$efficiencyColor: #ABC551;
$transportationColor: #FDA65C;
$economicsColor: #EB7971;
$smartGridColor: #F1BF62;

// horizontal
$orange : #FFAF00;
$seaBlue : #4882C7;
$nauticaTeal : #A4E2E5;
$algae : #5DD0AD;
$moneyGreen : #89D533;
$peach : #F2D767;
$cloudBlue : #A4E2E5;
$oilGrey : #9C9FA2;
$dieselOrange : #FF8401;