// Typography
// --------------------------------

// Fonts
// -------------------------
$baseFontFamily: "din_otlight", Helvetica, Arial, "Lucida Grande", sans-serif;
$boldFont: "din_otbold", Helvetica, Arial, "Lucida Grande", sans-serif;
$mediumFont: "din_otmedium", Helvetica, Arial, "Lucida Grande", sans-serif;

$svgFontNormal: "knockout-47", "din_otmedium", Helvetica, Arial, "Lucida Grande", sans-serif;
$svgFontBold: "knockout-48", "din_otbold", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font-Weight
// -------------------------
$weightNormal: 400;
$weightBold: 600;

// Font Path
$FontPath: "../fonts" !default;
