.content {
	width: calc(100% - 350px);
	// height: 100%;
	background: #FFFFFF;
	padding: 0 20px;
	float: right;
	box-shadow: 0 0 5px 0px rgba(#000, 0.2);
	@include max-breakpoint(screen-md) {
		width: 100%;
	}
	@include min-breakpoint(screen-lg) {
		width: calc(100% - 400px);
		padding: 0 30px;
	}
	@include min-breakpoint(screen-xl) {
		width: calc(100% - 450px);
	}
	> section {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			header {
				background: #FFFFFF;
				border-bottom: 1px solid $contentBorderColor;
				margin-left: 0;
				padding: 20px 0 0;
				color: inherit;
				&.fixed {
					padding: 20px 20px 0;
					@include min-breakpoint(screen-lg) {
						padding: 20px 30px 0;
					}
				}
				h2 {
					margin-bottom: 1rem;
				}
			}
			.followWrap {
				margin-top: 0;
				padding-left: 30px;
				@include max-breakpoint(screen-md) {
					padding-left: 20px;
				}
			}
		}
	}
	header {
		color: #FFFFFF;
		padding: 20px 20px;
		margin: 25px -20px 1rem;
		@include min-breakpoint(screen-lg) {
			padding: 20px 30px;
			margin: 25px -30px 1rem;
		}
		&.fixed {
			top: 0;
			left: auto;
			right: 0;
			margin: 0;
			width: calc(100% - 350px);
			@include max-breakpoint(screen-md) {
				padding: 10px 20px;
				width: 100%;
			}
			@include min-breakpoint(screen-lg) {
				width: calc(100% - 400px);
			}
			@include min-breakpoint(screen-xl) {
				width: calc(100% - 450px);
			}
			h2 {
				@include font-size(30px);
			}
		}
	}
	.followWrap {
		margin: 25px -20px 1rem;
		@include min-breakpoint(screen-lg) {
			margin: 25px -30px 1rem;
		}
		header {
			margin: 0;
			border-bottom: 1px solid rgba(#000, 0.15);
		}
	}
	h2 {
		font-family: $boldFont;
		font-weight: normal;
		line-height: 1.1em;
		text-transform: uppercase;
		@include font-size(40px);
		margin-bottom: 0;
		transition: all 0.15s 0.1s ease;
	}
	h3, h4 {
		font-family: $boldFont;
		font-weight: normal;
		line-height: 1.1em;
		text-transform: uppercase;
		@include font-size(32px);
		margin-bottom: 32px;
	}
	h5 {
		font-family: $mediumFont;
		font-style: italic;
		@include font-size(12px);
		text-transform: uppercase;
		margin-top: 0;
		margin-left: 2px;
		line-height: 1;
	}
	p {
		line-height: 1.5em;
		color: $contentTextColor;
		@include font-size(20px);
		@include min-breakpoint(screen-xl) {
			width: 85%;
		}
		@include min-breakpoint(desktop) {
			width: 70%;
		}
	}
	.svg-chart {
		margin-top: 25px;
	}
	hr {
		border: none;
		border-bottom: 1px solid $contentBorderColor;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-right: -20px;
		@include min-breakpoint(screen-lg) {
			margin-right: -30px;
		}
	}
	img {
		border-radius: 5px;
		margin-bottom: 10px;
	}
	.outlook {
		margin: 0 -20px -50px;
		padding: 0 20px 30px;
		@include min-breakpoint(screen-lg) {
			margin: 0 -30px -50px;
			padding: 0 30px 30px;
		}
		h4 {
			margin-bottom: 0;
		}
	}
	em {
		font-family: $mediumFont;
	}
}