html {
  font-size: 10px;
  width: 100%;
  height: 100%;
  @include min-breakpoint(screen-xs) {
    font-size: 12px;
  }
  @include min-breakpoint(screen-sm) {
    font-size: 14px;
  }
  @include min-breakpoint(screen-md) {
    font-size: 16px;
  }
  @include min-breakpoint(screen-xl) {
    font-size: 18px;
  }
  @include min-breakpoint(desktop) {
    font-size: 20px;
  }
}

body {
  background-color: $mainBg;
  @include font-size(16px);
  height: 100%;
  width: 100%;
  &.transportation-page {
    background: darken($transportationColor, 5%);
    color: darken($transportationColor, 5%);
    fill: darken($transportationColor, 5%);
    strong, em {
      color: darken($transportationColor, 5%);
    }
    section header {
      background: lighten($transportationColor, 7%);
    }
    .outlook {
      background: lighten($transportationColor, 35%);
      header {
        background: lighten($transportationColor, 15%);
      }
    }
  }
  &.renewables-page {
    background: darken($renewablesColor, 5%);
    color: darken($renewablesColor, 5%);
    fill: darken($renewablesColor, 5%);
    strong, em {
      color: darken($renewablesColor, 5%);
    }
    section header {
      background: lighten($renewablesColor, 7%);
    }
    .outlook {
      background: lighten($renewablesColor, 35%);
      header {
        background: lighten($renewablesColor, 15%);
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
	font-family: $baseFontFamily;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  color: inherit;
}

a {
  text-decoration: none;
}

strong, em {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-family: $boldFont;
}

.row.full-width {
  background: inherit;
  // height: 100%;
	max-width: 100%;
  // body > & {
  //   padding-bottom: 50px;
  // }
}

img.center {
  display: block;
  margin: 0 auto;
}

.hide-tablet-down {
  @include max-breakpoint(screen-md) {
    display: none;
    visibility: hidden;
  }
}

.menu-icon {
  & {
    @include hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, $topbar-menu-icon-color, false);
  }
}

// .row.full-width.links-view {
// 	background-color: $linkViewBg;
// }

.main-header.fixed.absolute {
  position: absolute;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background: url('../img/renewables/renewables-top-image-blur.jpg') no-repeat center center scroll;
  background-size: cover;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#111, 0.5);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/renewables/renewables-top-image.jpg') no-repeat center center scroll;
    background-size: cover;
  }
  .bottom > *, h1 span {
    opacity: 0.7;
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  h1 {
    margin: 0;
    font-family: $boldFont;
    @include font-size(80px);
    line-height: 1em;
    text-shadow: 0 0 20px rgba(#000, 0.3);
  }
  span {
    font-family: $mediumFont;
    @include font-size(24px);
    display: block;
  }
}


.hero {
  h1 {
    opacity: 0;
    animation: 0.5s intro ease-out 0.5s forwards;
  }
}

@keyframes intro {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}