.top-bar {
  // height: 45px;
  // line-height: 45px;
  position: absolute;
  float: left;
  width: 100%;
  display: block;
  z-index: 999;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  transition: background 0.5s, color 0.25s;
  box-sizing: content-box;
  // @include min-breakpoint(screen-sm) {
  //   height: 93px;
  //   line-height: 90px;
  // }
  &.expanded {
    background: rgba(#000, 0.75)
  }
  .name h1 {
    text-transform: none;
    a {
      @include font-size(16px);
      color: rgba(#fff, 0.7);
      background: $topbar-bg;
      @include max-breakpoint(screen-md) {
        width: 85%;
        font-size: 16px;
      }
    }
  }
  .right {
    color: #fff;
    a {
      color: inherit;
      font-weight: 300;
    }
  }
  .top-bar-section {
    ul {
      background: $topbar-bg;
    }
    li {
      background: transparent;
      border-top: 1px solid $borderColor;
      @include min-breakpoint(screen-md) {
        border-top: none;
        border-left: 1px solid $borderColor;
      }
    }
    a {
      line-height: normal;
      text-transform: uppercase;
      font-family: $mediumFont;
      @include font-size(16px);
      @include max-breakpoint(screen-lg) {
        @include font-size(14px);
      }
      @include max-breakpoint(screen-md) {
        font-size: 14px;
      }
    }
  }
  // .top-bar-section ul li > a {
  //   @include font-size(16px);
  // }
  ul, a {
    transition: background 0.5s, color 0.25s;
  }
}

.title-area {
  padding-left: 0;
}

// Dark Navigation
.top-bar.dark {
  background: $darkNavBg;
  ul {
    background: $darkNavBg;
    a {
      background: $darkNavBg !important;
    }
  }
  .top-bar-section {
    a {
      color: rgba(desaturate($headerBg, 75%), 0.55);
      &:hover {
        color: $headerBg;
      }
    }
  }
}